.highlight{ background-color: green }
#box{margin-right: 50px;}
.btn:focus,
.btn:active,
.btn.active {
    //background-color: rgb(234, 255, 0) !important;;
    border-color: red !important;
    border-width: thick !important;
}
.black-input {
    color: black
  }