<!--
 * Copyright (c) 2023 Mag. DI Simon Pirker
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with this program. If not, see https://www.gnu.org/licenses/.
--><p>Das ICPC2 Search Tool ist nicht für medizinische Zwecke erstellt und darf nicht für Decision-Support in jeglicher Art verwendet werden.</p>
<p>Das ICPC2 Search Tool bietet eine einfache Suche nach Wörtern innerhalb des ICPC2 Austria Kataloges.</p>
<p>Es können Suchbegriffe eingegeben werden, nach denen in den Spalten Allgemein und Code des ICPC2 Austria Kataloges gesucht wird.</p>
<p>Zeilen mit Übereinstimmungen werden als Ergebnis angezeigt. 
    Benutzern wird durch die Suchfunktion das Auffinden der passenden Codes zu gestellten Diagnosen/Prozeduren erleichtert.</p>

