
    <h3>Adresse</h3>
    <p>
    c/o WMA GmbH<br>
    Alser Straße 4 UniCampus 1.17<br>
    A-1090 Wien<br>
</p>
    <p>
<a href="mailto:office@oegam.at">office@oegam.at</a><br>
ZVR-Zahl: 112715314
</p>

    <h3>Nutzungs- und Haftungsbedingungen</h3> 
        <p>Geltungsbereich: Die ÖGAM und alle Personen, die auf dieser Hompage Informationen veröffentlichen, im
            Folgenden ÖGAM genannt.</p>
        <p>Webseiten enthalten auch Querverweise (Links) zu Webseiten anderer Anbieter. Für fremde Inhalte, die über
            solche Querverweise (Links) erreichbar sind, ist die ÖGAM nicht verantwortlich. Das fremde Angebot wurde bei
            der erstmaligen Verlinkung auf rechtswidrige Inhalte überprüft. Wenn wir feststellen oder darauf hingewiesen
            werden, dass ein Angebot rechtswidrigen Inhalt aufweist, wird dieser Querverweis (Link) aufgehoben, soweit
            dies technisch möglich und zumutbar ist.</p>
        <p>Die Informationen auf unseren Internet-Seiten werden mit größter Sorgfalt erstellt. Die ÖGAM übernimmt jedoch
            keine Gewähr für deren Vollständigkeit oder Eignung für bestimmte Verwendungszwecke. Die Nutzung der auf den
            Internet-Seiten zur Verfügung gestellten Inhalte erfolgt auf alleinige Gefahr des Nutzers.</p>
        <p>Der Inhalt der medizinischen Informationen ist ausschließlich für Ihre Information bereitgestellt und ersetzt
            in keinster Weise die Beratung durch Ihren Hausarzt. Die ÖGAM kann in keiner Weise - weder direkt noch
            indirekt - für Schäden oder Unannehmlichkeiten zur Verantwortung gezogen werden, die durch den Gebrauch oder
            Missbrauch der in dieser Homepage veröffentlichten Informationen entstehen.</p>
            

         
