/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.highlighted-text {
	background-color: #FFFF00;
}
body { 
    padding-top: 65px; 
}